#
# Copyright (c) 2026 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Matter Edge AI Add-on"

config MATTER_EDGEAI
	bool "Matter with nRF Edge AI"
    select NRF_AXON
    select NRF_EDGEAI
    depends on FPU
    depends on NEWLIB_LIBC
    select EXPERIMENTAL
	help
	  Integration of Matter application with the nRF Edge AI library.

rsource "samples/common/Kconfig"

endmenu
